
body{background-color: white;}
h1{text-align:center;}
span:hover {color: red;}
div{
    width: 100px;
    height: 20px;
    /*top-right-bottom-left  
    padding: 5px 50px 25px 12.5px */
    background-color: yellowgreen;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.cositas{
    text-align:left;
}

